
body {
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(68, 67, 67);
  height: 100vh;
  justify-content: center;
  background-image: url(iconos/fondo.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
} 



#overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(161, 161, 161, 0.459);
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 100;
  }

div[class="contenido"]{
text-align: center;
margin-top: -80px; 
display:block
}



.t1{
  font-size: 2.2rem;
  text-align: center;
  position: relative;
  bottom: -26px;
  margin: 54px;
  color: rgb(255, 186, 83);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
  margin-top: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13.2px;
}


  #popup {
    display: flex;
    position: absolute;
    background: rgb(31, 31, 31);
    color: white;
    width: 630px;
    height: 590px;
    margin-left: -300px; 
    margin-top: -320px; 
    z-index: 200;
    font-family: 'Alata', sans-serif;
    text-align: center;
    border: solid 2px rgb(255, 186, 83);
  }

 #cerrar {
    float: right;
    padding: 10px;
    cursor: pointer;
    
  }

  .contenido {
    padding: 20px;
  }
 

  .continuar{
    display: block;
    position: absolute;
    cursor: pointer;
    right: 215px;
    top: 515px;
    width: 30%;
    height: 40px;
    font-weight: 600;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    background-color: rgb(255, 186, 83);
    border: 1%;
    
  }
  .continuar:hover {background-color: rgb(173, 127, 58)}
  .continuar:active {
  background-color: rgb(173, 127, 58);
  transform: translateY(4px);
}

  

  #boton {
    cursor: pointer;
  }
  label[class="form-label"]{
    margin-left: -3px;
    padding-bottom: 10px;
}

.register-box{
   width: 350px ;
   height: 390px;
   background-color: rgb(31, 31, 31) ; 
   left: 50%;
   top: 50%;
   border: 2px solid rgb(255, 186, 83);;
   position: absolute;
   transform: translate(-50%, -50%);
   padding: 5px 40px;
   
}
.register-box .logo{
  width:150px;
  height:75px;
  border-radius: 20px;
  position: absolute;
  top: -55px;
  left:calc(50%-50%);  
  right: 137px;
  box-shadow: 0px 4px 10px black;
  padding: -20px;
  background-image: url(/iconos/Vte.png);
}



.register-box.label{
    margin:0;
    padding: 0;
    font-weight: bold;
    right: 20px;
}
.register-box input{
    width: 80%;
    height:10px;
    border-radius: 15px;
    margin-left: 23px;
    padding: 10px;
    margin-bottom: 17px;
    display: block;
    

}

.register-box h1{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
    font-family: 'calibri';
    color:rgb(226, 151, 38);

}
label[class="form-label"]{
    margin-left: 1px;
}
button[class="confirmar"]{
  
    display: block;
    margin: 85px 95px;    
    width: 40%;
    height: 30px;
    font-weight: bolder;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0px 3px 7px black;
    border-radius: 20px;
    background-color:rgb(226, 151, 38);
    border: 0px;
    
    cursor: pointer;

}

button[class="confirmar"]:hover {background-color: rgb(173, 127, 58)}
button[class="confirmar"]:active {
  background-color: rgb(173, 127, 58);
  transform: translateY(4px);
}

.manita{

  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 348px;
  text-decoration: underline;
  color: #2271b3; 
}

.terminos{
  right: 340px;
  color: #50a3e7;
  cursor: pointer;
}
.cuenta:hover,
.terminos:hover{
  color: #2070b3;
}

.cuenta{
  cursor: pointer;
  position: absolute;
  left: 30px;
  top: -1px;
  text-decoration: underline;
  color: #50a3e7;
}

button[class="terminos"]{
    width: 30%;
    height: 30px;
    font-weight: bolder;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0px 3px 7px black;
    border-radius: 20px;
    background-color:#75a9f9 ;
    border: 0px;
}
div[class="form-check d-flex justify-content-center mb-4"]{
   margin-top: 20px;
 
}

.punto1{
  left: 59px;
  bottom: 146px;
  display: flex;
  position: absolute;
  color: rgb(255, 186, 83);
  font-size: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.punto2{
   font-size: 10px;
   left: 59px;
  bottom: 117px;
  display: flex;
  position: absolute;
  color: rgb(255, 186, 83);
  font-size: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.punto3{
  display: flex;
  left: 194px;
  top: 208px;
  color: rgb(255, 186, 83);
  position:absolute;
  font-size: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.punto4{
  display: flex;
  left: 194px;
  top: 238px;
  color: rgb(255, 186, 83);
  position:absolute;
  font-size: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



div[class="form-outline mb-4"]{
    margin-bottom: 30px;
}

p [class="punto2"]{
  margin-top: -7px;
}
a{
  margin-top: 350px;
  color:#006ce5;
  font-size: 15px;
}
button[id="button"]{
  background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: #006ce5;
    font-size: 13px;
}
.icono1{
  background-image: url(iconos/lock.png);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  margin: -280px -11px;
  position: absolute;
  display: flex;
}

.icono2{
  background-image: url(iconos/lock.png);
width: 25px;
height: 25px;
background-repeat: no-repeat;
margin: -230px -11px;
position: absolute;
display: flex;
}

.icono3{
  background-image: url(iconos/contra.png);
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  margin: -278px 291px;
  position: absolute;
  display: flex;
  cursor: pointer;
}

.icono4{
  background-image: url(iconos/contra.png);
width: 23px;
height: 23px;
background-repeat: no-repeat;
margin: -228px 291px;
position: absolute;
display: flex;
cursor: pointer;
}

.icono5{
  background-image: url(iconos/User.png);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  margin: -331px -11px;
  position: absolute;
  display: flex;
}